#Ignore thumbnails created by Windows
*.class
/.metadata/*
/.metadata/
/.metadata
.metadata/
.plugins/
metadata/
metadata/plugins/org.eclipse.m2e.core
target/
../.metadata/.plugins/org.eclipse.core.resources/*
../.metadata/.plugins/org.eclipse.m2e.core/